* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
    font-weight: 900;
    color: orange;
}

.container {
    width: 700px;
    margin: auto;
    text-align: center;
}

.hotel_container {
    padding: 2rem;
}

.hotels_margin {
    margin-bottom: 2rem;
}